<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="google-signin-scope" content="profile email">
	<meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
	<script src="https://apis.google.com/js/platform.js" async defer></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Home | Rent Away</title>
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/prettyPhoto.css" rel="stylesheet">
	<link href="assets/css/price-range.css" rel="stylesheet">
	<link href="assets/css/animate.css" rel="stylesheet">
	<link href="assets/css/main.css" rel="stylesheet">
	<link href="assets/css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/form-elements.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="shortcut icon" href="assets/images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="assets/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>
	<header id="header">
		<!--header-->


		<div class="header-middle">
			<!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html">
								<img src="assets/images/rm-logo-4.gif" style="height: 50px;" alt="" />
								<span style="font-size: 25px">Rent Away</span>
							</a>
						</div>
						<div class="btn-group pull-right">

						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">

								<li>
									<a href="#">
										<i class="fa fa-star"></i> Wishlist</a>
								</li>
								<li>
									<a href="products.html">
										<i class="fa fa-crosshairs"></i> Checkout</a>
								</li>
								<li>
									<a href="cart.html">
										<i class="fa fa-shopping-cart"></i> Cart</a>
								</li>
								<li>
									<a href="loginandsignup.html">
										<i class="fa fa-lock"></i> Login & SignUp</a>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/header-middle-->

		<div class="header-bottom">
			<!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li>
									<a href="home.html" class="active">Home</a>
								</li>
								<li class="dropdown">
									<a href="#">Shop
										<i class="fa fa-angle-down"></i>
									</a>
									<ul role="menu" class="sub-menu">
										<li>
											<a href="shop.html">Products</a>
										</li>
										<li>
											<a href="products.html">Product Details</a>
										</li>
										<li>
											<a href="checkproduct.html">Checkout</a>
										</li>
										<li>
											<a href="feedback.html">Feedback</a>
										</li>

									</ul>
								</li>
								<li class="dropdown">

									<ul role="menu" class="sub-menu">

									</ul>
								</li>

								<li>
									<a href="image_upload.html">Upload your own dress</a>
								</li>

							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search" />

						</div>

					</div>
				</div>

			</div>
		</div>
		<!--/header-bottom-->
	</header>
	<!--/header-->
	<section class="form">

		<!-- Top content -->
        <div class="top-content">
        	<div class="container">
                	
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1>Rent Away Login &amp; Register Forms</h1>
                        
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 show-forms">
                    	<span class="show-register-form active">Register</span> 
                    	<span class="show-forms-divider">/</span> 
                    	<span class="show-login-form">Login</span>
                    </div>
                </div>
                
                <div class="row login-form">
                    <div class="col-sm-4 col-sm-offset-1">
						<form role="form" action="/signin" method="post" class="l-form">
	                    	<div class="form-group">
	                    		<label class="sr-only" for="">Username</label>
	                        	<input type="email" name="email" placeholder="Email Address..." class="l-form-username form-control" id="l-form-username">
	                        </div>
	                        <div class="form-group">
	                        	<label class="sr-only" for="l-form-password">Password</label>
	                        	<input type="password" name="password" placeholder="Password..." class="l-form-password form-control" id="l-form-password">
	                        </div>
				            <button type="submit" class="btn">Sign in!</button>
				    	</form>
				    	<div class="social-login">
                        	<p>Or login with:</p>
                        	<div class="social-login-buttons">
	                        	<a class="btn btn-link-1" href="/signin-with-fb"><i class="fa fa-facebook"></i></a>
	                        	<a class="btn btn-link-1" href="#"><i class="fa fa-twitter"></i></a>
	                        	<a class="btn btn-link-1" href="/auth/google"><i class="fa fa-google-plus"></i></a>
                        	</div>
                        </div>
                    </div>
                    <div class="col-sm-6 forms-right-icons">
						<div class="row">
							<div class="col-sm-2 icon"><i class="fa fa-user"></i></div>
							<div class="col-sm-10">
								<h3>Latest Designer Cloths</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2 icon"><i class="fa fa-eye"></i></div>
							<div class="col-sm-10">
								<h3>Easy To Use</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2 icon"><i class="fa fa-twitter"></i></div>
							<div class="col-sm-10">
								<h3>Social Integrated</h3>
							</div>
						</div>
                    </div>
				</div>
				
				<div class="row register-form">
                    <div class="col-sm-4 col-sm-offset-1">
						<form role="form" action="/signup" method="post" class="r-form">
	                    	<div class="form-group">
	                    		<label class="sr-only" for="r-form-first-name">First name</label>
	                        	<input type="text" name="first-name" placeholder="First name..." class="r-form-first-name form-control" id="r-form-first-name">
	                        </div>
	                        <div class="form-group">
	                        	<label class="sr-only" for="r-form-last-name">Last name</label>
	                        	<input type="text" name="last-name" placeholder="Last name..." class="r-form-last-name form-control" id="r-form-last-name">
	                        </div>
	                        <div class="form-group">
	                        	<label class="sr-only" for="r-form-email">Email</label>
	                        	<input type="email" name="email" placeholder="Email..." class="r-form-email form-control" id="r-form-email">
							</div>
							<div class="form-group">
	                        	<label class="sr-only" for="r-form-password">Password</label>
	                        	<input type="password" name="password" placeholder="Password..." class="r-form-email form-control" id="r-form-email">
	                        </div>
				            <button type="submit" class="btn">Sign me up!</button>
						</form>
                    </div>
                    <div class="col-sm-6 forms-right-icons">
						<div class="row">
							<div class="col-sm-2 icon"><i class="fa fa-pencil"></i></div>
							<div class="col-sm-10">
								<h3>Beautiful Outfits</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2 icon"><i class="fa fa-commenting"></i></div>
							<div class="col-sm-10">
								<h3>Login flexibility</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2 icon"><i class="fa fa-magic"></i></div>
							<div class="col-sm-10">
								<h3>Great product information</h3>
							</div>
						</div>
                    </div>
                </div>
                    
        	</div>
		</div>
		
	</section>
	<footer id="footer">
		<!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
						</div>
					</div>
					<div class="col-sm-3">

					</div>
				</div>
			</div>
		</div>

		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Service</h2>
							<ul class="nav nav-pills nav-stacked">
								<li>
									<a href="">Online Help</a>
								</li>
								<li>
									<a href="">Contact Us</a>
								</li>
								<li>
									<a href="">Order Status</a>
								</li>
								<li>
									<a href="">Change Location</a>
								</li>
								<li>
									<a href="">FAQ’s</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Quock Shop</h2>
							<ul class="nav nav-pills nav-stacked">
								<li>
									<a href="">T-Shirt</a>
								</li>
								<li>
									<a href="">Mens</a>
								</li>
								<li>
									<a href="">Womens</a>
								</li>
								<li>
									<a href="">Gift Cards</a>
								</li>
								<li>
									<a href="">Shoes</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Policies</h2>
							<ul class="nav nav-pills nav-stacked">
								<li>
									<a href="">Terms of Use</a>
								</li>
								<li>
									<a href="">Privecy Policy</a>
								</li>
								<li>
									<a href="">Refund Policy</a>
								</li>
								<li>
									<a href="">Billing System</a>
								</li>
								<li>
									<a href="">Ticket System</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<ul class="nav nav-pills nav-stacked">
								<li>
									<a href="">Company Information</a>
								</li>
								<li>
									<a href="">Careers</a>
								</li>
								<li>
									<a href="">Store Location</a>
								</li>
								<li>
									<a href="">Affillate Program</a>
								</li>
								<li>
									<a href="">Copyright</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="">
									<i class="fa fa-arrow-circle-o-right"></i>
								</button>
								<p>Get the most recent updates from
									<br />our site and be updated your self...</p>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2018 Rent Away Inc. All rights reserved.</p>
					<p class="pull-right">Designed by
						<span>
							<a target="_blank" href="http://neuralstack.io/">Neural Stack</a>
						</span>
					</p>
				</div>
			</div>
		</div>

	</footer>
	<!--/Footer-->


	<!-- The Modal -->
	<div id="myModal" class="modal">

		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span>
			<div class="container">

				<div class="wrapper">
					<div class="company-info">
						<h3>Acme Web Design</h3>
						<ul>
							<li>
								<i class="fa fa-road"></i> 44 Something st</li>
							<li>
								<i class="fa fa-phone"></i> (555) 555-5555</li>
							<li>
								<i class="fa fa-envelope"></i> test@acme.test</li>
						</ul>
					</div>
					<div class="contact">
						<h3>Email Us</h3>
						<div class="alert">Your message has been sent</div>
						<form id="contactForm">
							<p>
								<label>Name</label>
								<input type="text" name="name" id="name" required>
							</p>
							<p>
								<label>Password</label>
								<input type="password" name="password" id="password">
							</p>
							<p>
								<label>Email Address</label>
								<input type="email" name="email" id="email" required>
							</p>
							<p>
								<label>Phone Number</label>
								<input type="text" name="phone" id="phone">
							</p>
							<p class="full">
								<button type="submit">Submit</button>
							</p>
						</form>
					</div>
				</div>
			</div>



		</div>

	</div>
	<h1 id="user_para"></h1>
	</div>
	<div id="user_div">

		<!-- <script src="assets/css/fontawesome-all.js"></script> -->
		<script src="assets/js/app.js"></script>
		<script src=assets/js/pagination.js></script>
		<script src="assets/js/jquery.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/jquery.scrollUp.min.js"></script>
		<script src="assets/js/price-range.js"></script>
		<script src="assets/js/jquery.prettyPhoto.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="assets/js/jquery.backstretch.min.js"></script>
		<script src="assets/js/scripts.js"></script>


</body>

</html>